@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
     height: 92vh;
     display: flex;
     flex-direction: row;
 }
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background: #92bedf;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}
.navigation div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_link a {
    padding: 20px;
    text-decoration: none;
    display: block;
    color: #fff;
    font-size:20px;
}
.menu_input{
    font-size: 17px;
    border-radius: 12px 0 0 12px;
    border: none;
    padding: 4px;
}
.search > .menu_button{
    width: 25px;
    height: 29px;
    border-radius: 0 12px 12px 0;
    padding: 0;
    background: #fff;
}
.menu_button > img{
    width: 17px;
    margin: 4px;
    transform: rotate(90deg);
}
.name{
    color: #fff;
    font-size: 20px;
}
.avatar > img{
    height: 40px;
    width: 40px;
}
.menu_link:hover {
    background: #b5c9d8;
}
.content{
    height: 92vh;
    width: 100%;
    align-items: center;
}
.filling{
    height: 88vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:stretch;
    margin: 20px auto 0;
}
.card{
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    width:320px;
    height: 320px;
    border: 1px solid #92bedf;
    margin: 20px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
}
.map{
    height: 80%;
    transition: 0.5s;
    cursor: pointer;
}
.map > img{
    width: 100%;
    height: 100%;
}
.description{
    padding: 10px;
    height: 20%;
    background: #b5c9d8;
    transition: 0.5s;
    overflow: hidden;
}
.description_text{
    display: none;
}
.description:hover{
    height: 400px;
    transition: 0.5s;
}
.description:hover + .map {
    opacity: 0;
    height: 0;
    transition: 0.5s;
}
.description:hover >.description_text{
    display: block;
    transition: 0.5s;
}
.description:hover >.headline{
    display: none;
    transition: 0.5s;
}
