@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
     height: 92vh;
     display: flex;
     flex-direction: row;
 }
.navigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background: #92bedf;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}
.navigation div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: #fff;
    font-size: 20px;
}

.avatar > img{
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#avatar{
    display: none;
}
#avatar:checked {
    background: red;
}

.content{
    height: 92vh;
    width: 100%;
    align-items: center;
    display: flex;
}
.filling{
    height: 88vh;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-evenly;
    align-items:stretch;
    margin: 20px 10px 0 auto;
}
.card{
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width:320px;
    height: 320px;
    border: 1px solid #92bedf;
    margin: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.map{
    height: 80%;
    transition: 0.5s;
    cursor: pointer;
}
.map > img{
    width: 100%;
    height: 100%;
}
.description{
    padding: 10px;
    height: 24%;
    background: #b5c9d8;
    transition: 0.5s;
    overflow: hidden;
}
.description:hover{
    height: 400px;
    transition: 0.5s;
}
.description:hover + .map {
    opacity: 0;
    height: 0;
    transition: 0.5s;
}
.description:hover >.description_text{
    display: block;
    transition: 0.5s;
}
.description:hover >.headline{
    display: none;
    transition: 0.5s;
}
.evaluateds{
    display: flex;
    height: 90%;
    margin: 20px auto 0;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
}
.user_evaluated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.user_evaluated>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.name_user_evaluated{
    padding: 10px;
    max-width: 30vw;
}
.params{
    display: flex;flex-wrap: wrap;
    height: 88vh;
    width: 100%;
    position: relative;
}
.paramSlider{
    height: 100px;
    width: 40%;
    margin: 10px;
}
.paramSlider > h3{
    font-family: 'Montserrat', sans-serif;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #586994;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #7d869c;
    cursor: pointer;
    -webkit-appearance: none;
    transform: translateY(-35%);
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #586994;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #586994;
    border: none;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #7d869c;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #586994;
    border: none;
    color: #586994;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: none;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: none;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #7d869c;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
.sidebar{
    width: 0;
    height: 100%;
    transition: .6s;
    overflow: hidden;
}
.sidebarForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    background-color: #596994;
    border:1px solid #586994;
    padding: 10px 20px 10px 20px ;
    border-radius:10px;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    transform: translateX(-50%);
}
.submitButton:hover{
    background-color: #7282ab;
    border:1px solid #7282ab;
}
