*{
    margin: 0;
    padding: 0;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
html,body{
    width: 100%;
    height: 100%;
    background: #f7f7f2;
}
main{
     height: 92vh;
     display: flex;
     flex-direction: row;
 }
.navigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background: #006989;
    flex: 0 0 auto;
}
.navigation div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: #fff;
    font-size: 20px;
}
.avatar > img{
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#avatar{
    display: none;
}
#avatar:checked {
    background: red;
}
.content{
    height: 92vh;
    width: 100%;
    align-items: center;
    display: flex;
}
.filling{
    height: 88vh;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: flex-start;
    align-items:stretch;
}
.card{
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width:320px;
    height: 320px;
    border: 1px solid #006989;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 13px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}
.map{
    height: 80%;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}
.map > img{
    width: 100%;
    border-radius: 13px;
}
.description{
    padding: 10px;
    height: 23%;
    background: #006989;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 0  0 13px 13px;
}
.description:hover{
    height: 400px;
    transition: 0.5s;
    border-radius: 13px;
}
.description:hover + .map {
    opacity: 0;
    height: 0;
    transition: 0.5s;
}
.description:hover >.description_text{
    display: block;
    transition: 0.5s;
}
.description:hover >.headline{
    display: none;
    transition: 0.5s;
}
.description_text{
    padding-right: 5px;
    padding-left: 5px;
    color: #f7f7f2;
    font-weight: 300;
    font-size: 18px;
}
.evaluateds{
    display: flex;
    height: 90%;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 1px solid rgba(0,0,0,0.20);
    border-right: 1px solid rgba(0,0,0,0.20);
}
.user_evaluated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    cursor: pointer;
}
.user_evaluateds:hover, .user_evaluateds:focus{
     border-bottom:1px solid rgba(0,0,0,0.20); ;
 }
.user_evaluated>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.name_user_evaluated{
    padding: 10px;
    max-width: 30vw;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.params{
    display: flex;flex-wrap: wrap;
    height: 88vh;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.paramSlider{
    height: 100px;
    width: 40%;
    margin: 10px;
}
.paramSlider > h3{
    font-weight:100;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: #006989;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin: -1px;
    border-radius: 50%;
    background: #b7cece;
    cursor: pointer;
    -webkit-appearance: none;
    transform: translateY(-35%);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    margin:10px;
    cursor: pointer;
    animate: 0.2s;
    background: #006989;
    border: none;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    margin: -1px;
    border-radius: 50%;
    background: #7d869c;
    cursor: pointer;
}
.sidebar{
    width: 0;
    height: 100%;
    transition: .6s;
    overflow: hidden;
}
.sidebarForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    position: relative;
    display: block;
    margin: 30px;
    width: 150px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
    transform: translateX(-18%);
    padding: 12px 24px;
}
.submitButton:hover{
    background-color: #7282ab;
    border:1px solid #7282ab;
}
